modules = ["nodejs-24"]

[deployment]
router = "application"
deploymentTarget = "autoscale"

[deployment.postBuild]
args = ["pnpm", "store", "prune"]
env = { "CI" = "true" }

[workflows]
runButton = "Project"

[agent]
stack = "PNPM_WORKSPACE"
expertMode = true

[postMerge]
path = "scripts/post-merge.sh"
timeoutMs = 20000

[[ports]]
localPort = 8080
externalPort = 80

[[ports]]
localPort = 8081
externalPort = 8081

[[ports]]
localPort = 25265
externalPort = 3000

[userenv]

[userenv.shared]
SITE_URL = "https://googlehelportal-v2.vercel.app/"
SUPABASE_URL = "https://wrqwbzdwkuipaomufjjq.supabase.co"
SUPABASE_SERVICE_ROLE_KEY = "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6IndycXdiemR3a3VpcGFvbXVmampxIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3ODUzNDQ0NiwiZXhwIjoyMDk0MTEwNDQ2fQ.Tz5fQvHiv-e1Pu49nxk0BhiM52tE_bu35bxmwDDkHqk"
RESEND_API_KEY = "re_XZisb3rH_CToGrvyikwVwgFgFhYT69tFU"
VITE_FIREBASE_API_KEY = "AIzaSyCigcrLp7-eb2gU0uThWWEOOKdrgPSAWNw"
VITE_FIREBASE_AUTH_DOMAIN = "spacexmembership-5cdc3.firebaseapp.com"
VITE_FIREBASE_PROJECT_ID = "spacexmembership-5cdc3"
VITE_FIREBASE_STORAGE_BUCKET = "spacexmembership-5cdc3.firebasestorage.app"
VITE_FIREBASE_MESSAGING_SENDER_ID = "373866019176"
VITE_FIREBASE_APP_ID = "1:373866019176:web:2df0df0cd94391760bbedd"
VITE_SUPABASE_URL = "https://wrqwbzdwkuipaomufjjq.supabase.co"
VITE_SUPABASE_ANON_KEY = "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6IndycXdiemR3a3VpcGFvbXVmampxIiwicm9sZSI6ImFub24iLCJpYXQiOjE3Nzg1MzQ0NDYsImV4cCI6MjA5NDExMDQ0Nn0.Q7C3pgSdx-K14hL4sSsLe7jzm0--TMXDGHxnIHGBG8A"
